{% extends "client/layouts/app.html.twig" %} 

{% block title %} Male-Fashion | Template {% endblock %}

{% block body %}
  

  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  {% include "client/layouts/navbar.html.twig" %}

  <!-- Breadcrumb Section Begin -->
  <section class="breadcrumb-option">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb__text">
            <h4>Shop</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Breadcrumb Section End -->

  <!-- Shop Section Begin -->
  <section class="shop spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="shop__sidebar">
            <div class="shop__sidebar__search">
              <form action="#">
                <input type="text" placeholder="Search..." />
                <button type="submit">
                  <span class="icon_search"></span>
                </button>
              </form>
            </div>
            <div class="shop__sidebar__accordion">
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseOne"
                      >Categories</a
                    >
                  </div>
                  <div
                    id="collapseOne"
                    class="collapse show"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <div class="shop__sidebar__categories">
                        <ul class="nice-scroll">
                        {% for category in categories %}
                          {% if category.parent == null %}
                          <li><a href="/category/{{category.name}}">{{category.name}}</a></li>
                            
                          {% endif %}
                        {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="shop__product__option">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="shop__product__option__left">
                  <p>Showing 1–12 of 126 results</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                
              </div>
            </div>
          </div>
          <div class="row">
          {% for product in products %}
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="product__item">
              <a href="/products/{{ product.slug}} ">
                <div
                  class="product__item__pic set-bg"
                  data-setbg="{{ asset('images/'~ product.getImagePath ~'') }}"
                >
                  
                </div>
                </a>
                <div class="product__item__text">
                  <h6>{{product.name}}</h6>
                  <a href="#" class="add-cart">+ Add To Cart</a>
                  
                  <h5>${{product.price}}</h5>
                </div>
              </div>
            </div>
          {% endfor %}
            
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="product__pagination">
                <a class="active" href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <span>...</span>
                <a href="#">21</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Shop Section End -->

  {% include "client/layouts/footer.html.twig" %}

  <!-- Search Begin -->
  <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
      <div class="search-close-switch">+</div>
      <form class="search-model-form">
        <input type="text" id="search-input" placeholder="Search here....." />
      </form>
    </div>
  </div>
  <!-- Search End -->
{% endblock %}
