{% extends 'client/layouts/app.html.twig' %}

{% block title %}Hello{% endblock %}


{% block javascripts %}

{% endblock %}

{% block body_class %} belly-light-version belly-color-chocolate {% endblock %}
{% block body %}
    {% include 'client/layouts/navbar.html.twig' %}

    <div class="site-wrapper">
        <!-- Quick View Modal -->

        <div
                class="modal modal-quick-view fade"
                id="quick-view"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="cross-btn">
                        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                        <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div
                                class="belly-product belly-product--details product-details--left-thumbnail"
                        >
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="product__image">
                                        <div class="product-image-main">
                                            <img
                                                    id="zoom_03"
                                                    src="image/products/single-product/single-product-big-1.jpg"
                                                    data-zoom-image="image/products/single-product/single-product-big-1.jpg"
                                            />
                                        </div>
                                        <div
                                                id="product-view-gallary"
                                                class="product-view-slider product-view-standered-slider-2"
                                        >
                                            <a
                                                    href="#"
                                                    class="gallary-item"
                                                    data-image="image/products/single-product/single-product-1.jpg"
                                                    data-zoom-image="image/products/single-product/single-product-big-1.jpg"
                                            >
                                                <img
                                                        src="image/products/single-product/single-product-1.jpg"
                                                />
                                            </a>

                                            <a
                                                    href="#"
                                                    class="gallary-item"
                                                    data-image="image/products/single-product/single-product-2.jpg"
                                                    data-zoom-image="image/products/single-product/single-product-big-2.jpg"
                                            >
                                                <img
                                                        src="image/products/single-product/single-product-1.jpg"
                                                />
                                            </a>

                                            <a
                                                    href="#"
                                                    class="gallary-item"
                                                    data-image="image/products/single-product/single-product-3.jpg"
                                                    data-zoom-image="image/products/single-product/single-product-big-3.jpg"
                                            >
                                                <img
                                                        src="image/products/single-product/single-product-2.jpg"
                                                />
                                            </a>

                                            <a
                                                    href="#"
                                                    class="gallary-item"
                                                    data-image="image/products/single-product/single-product-4.jpg"
                                                    data-zoom-image="image/products/single-product/single-product-big-4.jpg"
                                            >
                                                <img
                                                        src="image/products/single-product/single-product-3.jpg"
                                                />
                                            </a>
                                            <a
                                                    href="#"
                                                    class="gallary-item"
                                                    data-image="image/products/single-product/single-product-4.jpg"
                                                    data-zoom-image="image/products/single-product/single-product-big-4.jpg"
                                            >
                                                <img
                                                        src="image/products/single-product/single-product-4.jpg"
                                                />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="product-description">
                                        <h3 class="product__caption">Accumsan Elit</h3>
                                        <div class="rating-widget">
                        <span class="single-rating"
                        ><i class="ion-md-star"></i
                            ></span>
                                            <span class="single-rating"
                                            ><i class="ion-md-star"></i
                                                ></span>
                                            <span class="single-rating"
                                            ><i class="ion-md-star"></i
                                                ></span>
                                            <span class="single-rating"
                                            ><i class="ion-md-star-half"></i
                                                ></span>
                                            <span class="single-rating"
                                            ><i class="ion-md-star-outline"></i
                                                ></span>
                                            <span>
                          <span class="rating-text"
                          ><a href="#"> 1 reviews </a> /
                            <a href="#">Write a review</a></span
                          >
                        </span>
                                        </div>
                                        <div class="product__price">
                                            <span class="price--new">$350</span>
                                        </div>
                                        <div class="product-description--list">
                                            <br/>
                                            <p>Ex Tax: $320.00</p>
                                            <p>Reward Points: %s 400</p>
                                            <br/>
                                            <p>
                                                Brands
                                                <a href="#" class="brand-tag text-primary"
                                                >Hewlett-Packard</a
                                                >
                                            </p>
                                            <p>Product Code: <span class="text-primary">3</span></p>
                                            <p>
                                                Reward Points: <span class="text-primary">300</span>
                                            </p>
                                            <p>
                                                Availability:
                                                <span class="text-primary">In Stock</span>
                                            </p>
                                        </div>
                                        <div class="product-description--breif">
                                            <p>
                                                Nunc facilisis sagittis ullamcorper. Proin lectus
                                                ipsum, gravida et mattis vulputate, tristique ut
                                                lectus. Sed et lorem nunc. Vestibulum ante ipsum
                                                primis in faucibus orci luctus et ultrices posuere
                                                cubilia Curae; Aenean eleifend laoreet congue. Vivamus
                                                adipiscing nisl ut dolor dignissim semper. Nulla
                                                luctus malesuada tincidunt. Class aptent taciti
                                                sociosqu ad litora torquent per conubia nostra, p..
                                            </p>
                                        </div>
                                        <div class="product-buttons--group">
                                            <div class="single-btn-block count-input-block">
                                                <input
                                                        type="number"
                                                        class="form-control text-center"
                                                        value="1"
                                                />
                                                <div class="count-input-btns">
                                                    <button class="inc-ammount count-btn">+</button>
                                                    <button class="dec-ammount count-btn">-</button>
                                                </div>
                                            </div>
                                            <div class="single-btn-block">
                                                <a href="wishlist.html" class="theme-btn-outlined"
                                                >Add to wishlist</a
                                                >
                                            </div>
                                            <div class="single-btn-block">
                                                <a href="compare.html" class="theme-btn-outlined"
                                                >Add to Compare</a
                                                >
                                            </div>
                                            <div class="single-btn-block btn-big">
                                                <a href="cart.html" class="theme-btn">Add to Cart</a>
                                            </div>
                                            <div class="single-btn-block btn-big">
                                                <ul class="social-btns">
                                                    <li>
                                                        <a href="#" class="facebook"
                                                        ><i class="far fa-thumbs-up"></i
                                                            ><span>likes 1</span></a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="#" class="twitter"
                                                        ><i class="fab fa-twitter"></i>
                                                            <span>twitter</span></a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="#" class="google"
                                                        ><i class="fas fa-plus-square"></i>
                                                            <span>share</span></a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="belly-bredcrumb-section">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="index4.html">Home</a></li>
                    <li><a href="">Shop</a></li>
                </ul>
            </div>
        </div>
        <section class="section-padding pt-0">
            <div class="container">
                <div class="shop-toolbar mb-30">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-6 col-5 my-3">
                            <!-- Product View Mode -->
                            <div class="product-view-mode">
                                <a class="sortting-btn" href="#" data-target="list"
                                ><i class="fas fa-list"></i
                                    ></a>
                                <a href="#" data-target="grid" class="sortting-btn active"
                                ><i class="fas fa-th"></i
                                    ></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shop-product-wrap grid with-pagination row">
                    {% for product in products %}
                        <div class="col-lg-3 col-md-4 col-sm-6 mb-30">

                            <div class="belly-product product-style-2">
                                <div class="product__image">
                                    <img src="{{ asset('images/') }}{{ product.getImagePath }}" alt=""/>
                                    <div class="hover-content">
                                        <a href="/{{ product.slug }}"
                                           class="hover-image">
                                            <img src="image/products/home-4/product-1.jpg" alt=""/>
                                        </a>

                                    </div>
                                    <span class="product-badge badge--sell-green"></span>
                                </div>

                                <div class="product-contents">
                                    <h3 class="product__caption">
                                        <a href="product-details-light.html">{{ product.name }}</a>
                                    </h3>

                                    <div class="product__price">
                                        <span class="price--new">${{ product.price }}</span>
                                    </div>
                                    <p class="product-info-para">
                                        Nunc facilisis sagittis ullamcorper. Proin lectus ipsum,
                                        gravida et mattis vulputate, tristique ut lectus. Sed et
                                        lorem nunc. Vestibulum ante ipsum primis in faucibus orci
                                        luctus et ultrices posuere cubilia Curae; Aenean eleifend
                                        laoreet congue. Viva..
                                    </p>
                                    <div class="product__btn">
                                    <form action="/{{ product.slug }}" method = "POST">
                                        <button type="submit" class="theme-btn-outlined--type-2"
                                            >add to cart</button
                                            >
                                    </form>
                                        
                                    </div>

                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
                <div class="pagination-widget">
                    <div class="row align-items-sm-center">
                        <div class="col-sm-6 text-sm-left">
                            <div class="site-pagination">
                                <a href="#" class="single-pagination">|<</a>
                                <a href="#" class="single-pagination"><</a>
                                <a href="#" class="single-pagination">1</a>
                                <a href="#" class="single-pagination">2</a>
                                <a href="#" class="single-pagination">></a>
                                <a href="#" class="single-pagination">>|</a>
                            </div>
                        </div>
                        <div class="col-sm-6 text-sm-right">
                            <p class="mt-0 mt-sm-3">Showing 1 to 9 of 11 (2 Pages)</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include 'client/layouts/footer.html.twig' %}

{% endblock %}

